@font-face {
  font-family: KM;
  src: url(Kanz-al-Marjaan.ttf);
}

h1 {
  text-align: center;
  font-size: 43px;
  font-family: KM,"Al-Kanz";
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
 background-image: url("bg.jpg");
 background-color: #cccccc;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
    font-family: KM,"Kanz-al-Marjaan", "Al-Kanz", "Amiri";
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-family: KM;
  font-size: 1.53rem;
  font-weight: 1000;
  padding: 0.53rem;
  margin: 1.21px;
  cursor: pointer;
  text-transform: uppercase;
    color: black;
    border: 1px solid gray;
    border-radius: 2px;
}
p {
    text-align: center;
    font-size: 1.5rem;
    font-family: KM;
}
strong {
    font-family:sans-serif;
    color:darkgoldenrod;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 21px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: KM;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: navy;
    color: white;
    text-align: center
}

.modal-body {
    padding: 2px 16px;
    text-align: center
}

.modal-footer {
  padding: 2px 16px;
  background-color: navy;
  color: white;
    text-align: center
}
