html {
  overflow-x:visible; /* Hide horizontal scrollbar */
  overflow-y:visible; /* Add vertical scrollbar */
}
body {
  background-image: url("images/bg.jpg");
  background-repeat: repeat;
  background-size: 10%;

}

/* if mobile, change background size to 30% */
@media only screen and (max-width: 600px) {
  body {
    background-size: 30%;
  }

}
#myModalBtn {
  display: none;
}
/* Customize the modal */
.modal-content {
  border-radius: 0;
}
.modal-header {
  background-color: #d4b60e;
  color: #2d4ada;
  text-align: center;
}
.modal-footer {
  background-color: #d4b60e;

}
.img-container{
  overflow-x: auto;
  white-space: nowrap;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .modal-dialog {
    margin: 0;
    max-width: none;
  }
}

.shaker{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}