@font-face {
  font-family: "Kanz Al Marjaan";
  src: url('kanz-al-marjaan-webfont.eot');
  src: url('kanz-al-marjaan-webfont.eot') format('embedded-opentype'),
       url('kanz-al-marjaan-webfont.woff2') format('woff2'),
       url('kanz-al-marjaan-webfont.woff') format('woff'),
       url('kanz-al-marjaan-webfont.ttf') format('truetype');
}

...
h1 {
 text-align: center;
 font-size: 4.5rem;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
 background-image: url("bg.jpg");
 background-color: #cccccc;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
    font-family: "Kanz-al-Marjaan"
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
    font-family: "Kanz-al-Marjaan";
  font-size: 1rem;
  font-weight: 1000;
  padding: 0.4rem;
  margin: 0.32px;
  cursor: pointer;
  text-transform: uppercase;
}
p {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Kanz-al-Marjaan"
}
strong {
    font-family:sans-serif;
    color:darkgoldenrod;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
