html {
  overflow-x:visible; /* Hide horizontal scrollbar */
  overflow-y:visible; /* Add vertical scrollbar */
}
body {
  background-image: url("images/bg.jpg");
  background-repeat: repeat;
  background-size: 10%;

}

/* if mobile, change background size to 30% */
@media only screen and (max-width: 600px) {
  body {
    background-size: 30%;
  }

}
#myModalBtn {
  display: none;
}
/* Customize the modal */
.modal-content {
  border-radius: 0;
}
.modal-header {
  background-color: #d4b60e;
  color: #2d4ada;
  text-align: center;
}
.modal-footer {
  background-color: #d4b60e;

}
.img-container{
  overflow-x: auto;
  white-space: nowrap;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .modal-dialog {
    margin: 0;
    max-width: none;
  }
}